@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin button($bg--color) {
  background: $bg--color;
  border: 0;
  outline: 0;
  color: white;
  padding: 0.5rem 2rem;
}
