*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.content h1 {
  color: #5a1bee;
}

.content p {
  color: #999999;
  margin-bottom: 1rem;
}

.content button {
  background: #5a1bee;
  border: 0;
  outline: 0;
  color: white;
  padding: 0.5rem 2rem;
}
/*# sourceMappingURL=styles.css.map */