@import './root';
@import './variables';
@import './mixins';

.content {
  @include flexCenter(column);
  height: 100vh;

  h1 {
    color: $primary--color;
  }

  p {
    color: $secondary--color;
    margin-bottom: 1rem;
  }

  button {
    @include button($primary--color);
  }
}
